*
{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: fantasy;
    

}
h1{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-align: center;
    
}
.vista
{
    width: 100%;
    background: brown;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px; 
    border: 1px solid red;
    font-family:cursive;
    font-size: 10px;
}